.prodList, td, tr, th{
    border: 2px solid;
    text-align: center;
}

.headerText{
    font-size: 20px;
    font-weight: bold;
}

.productForm{
    width: 15%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.inputBox{
    margin-top: 2px;
}

.submitBtn{
    background-color:lightblue;
    border: none;
    color: black;
    padding: 10px;
    width: 75%;
    font-weight: bold;
}

body{
    background-color: azure;
}

#pageText{
    font-family: "Times New Roman", serif;
    font-size: 26px;
    color: red;
}

img{
    width: 50%;
    height: 50%;
}