<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>


<body>

<div id="flexContainer">

<header th:replace="~{HeaderAndFooter::Header}">
    <h1></h1>
</header>


<p class="headerText">Checkout</p>


<table th:if="${itemsInCart != null && itemsInCart != ''}" class="prodList">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
    </tr>

    <tr th:each="s:${itemsInCart}">
        <td th:text="${s.getProductId()}"></td>
        <td th:text="${s.getProductName()}"></td>
        <td th:text="${s.getProductPrice()}"></td>
    </tr>
</table>

<hr>

<table class="prodList">
    <tr>
        <th>Subtotal</th>
    </tr>

    <tr>
        <td th:text="${subTotal}"></td>
    </tr>
    <tr>
        <th>Sales Tax (13%)</th>
    </tr>

    <tr>
        <td th:text="${tax}"></td>
    </tr>

    <tr>
        <th>Total</th>
    </tr>

    <tr>
        <td th:text="${total}"></td>
    </tr>

</table>

<footer th:replace="~{HeaderAndFooter::footer}"></footer>

</div>
</body>


</html>