<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>HeaderAndFooter</title>
</head>

<body>
<header th:fragment="Header">
    <h1>Evan's Place</h1>
    <nav class="nav-menu">
        <a th:href="@{/}" class="button">Home</a>
        <a th:href="@{/products}" class="button">Product</a>
        <a th:href="@{/shopping}" class="button">Shopping</a>
        <a th:href="@{/checkout}" class="button">Checkout</a>
    </nav>
    <hr>
</header>

<main></main>

<footer th:fragment="Footer">
    <hr>
    Sheridan College&nbsp; &nbsp;
    <span th:text="${#temporals.format(localDate, 'MMMM dd, yyyy')}">February 3, 2024</span>
    <span id="footer-copyright" style="font-size:10pt;">Copyright &copy; Evan Babic <b>ID: 991445456</b></span>
</footer>
</body>
</html>