<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<header th:replace="~{HeaderAndFooter::Header}">
    <h1></h1>
</header>
<body>
<table th:if="${productList != null && productList != ''}">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
    </tr>

    <tr th:each="s:${productList}">
        <td th:text="${s.getProductId()}"></td>
        <td th:text="${s.getProductName()}"></td>
        <td th:text="${s.getProductPrice()}"></td>
    </tr>
</table>

<hr>
<p>Insert Product</p>
<form method="post" action="/formPost">
    ID: <input type="text" name="productId" /><br>
    Name: <input type="text" name="productName" /><br>
    Price: <input type="text" name="productPrice" /><br>
    <input type="submit" value="Add Product">
</form>


</body>

<footer th:replace="~{HeaderAndFooter::footer}"></footer>

</html>