<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<header th:replace="~{HeaderAndFooter::Header}">
    <h1></h1>
</header>
<body>
<p class="headerText">Product List</p>

<table th:if="${productList != null && productList != ''}" class="prodList">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
    </tr>

    <tr th:each="s:${productList}">
        <td th:text="${s.getProductId()}"></td>
        <td th:text="${s.getProductName()}"></td>
        <td th:text="${s.getProductPrice()}"></td>
    </tr>
</table>

<hr>
<p class="headerText">Insert Product</p>
<form method="post" action="/formPost" class="productForm">
    <b>ID:</b> <input type="text" th:value="${productId}" name="productId" readonly="readonly" class="inputBox"/><br>
    <b>Name:</b> <input type="text" name="productName" class="inputBox" /><br>
    <b>Price:</b> <input type="text" name="productPrice" class="inputBox"/><br>
    <input type="submit" value="Add Product" class="submitBtn">
</form>


</body>

<footer th:replace="~{HeaderAndFooter::footer}"></footer>

</html>