<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<header th:replace="~{HeaderAndFooter::Header}">
    <h1></h1>
</header>

<body>
<p class="headerText">Shopping List</p>

<table th:if="${productList != null && productList != ''}" class="prodList">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Action</th>
    </tr>

    <tr th:each="s:${productList}">
        <td th:text="${s.getProductId()}"></td>
        <td th:text="${s.getProductName()}"></td>
        <td th:text="${s.getProductPrice()}"></td>
        <td>
            <form method="post" action="/addToCart">
                <input type="image" src="/images/addToCart.png" alt="Submit" width="30px">
                <input type="hidden" name="productId" th:value="${s.getProductId()}">
            </form>
        </td>
    </tr>
</table>
</body>

<p class="headerText">Shopping Cart</p>

<table>
    <tr>
        <th>Items in Cart</th>
    </tr>

    <tr>
        <td th:text="${itemsInCart}"></td>
    </tr>
</table>


<footer th:replace="~{HeaderAndFooter::footer}"></footer>

</html>